@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html,
    body {
      min-height: 100vh;
    }

    body,
    .content,
    article {
      display: flex;
      flex-direction: column;
    }

    body {
      justify-content: center;
      align-items: center;
    }

    .sedans {
      background: hsl(31, 77%, 52%);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    .sedans button {
      color: hsl(31, 77%, 52%);
    }

    .suvs {
      background: hsl(184, 100%, 22%);
    }

    .suvs button {
      color: hsl(184, 100%, 22%);
    }

    .luxury {
      background: hsl(179, 100%, 13%);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    .luxury button {
      color: hsl(179, 100%, 13%);
    }


    h2,
    p {
      color: hsl(0, 0%, 95%);
    }

    p {
      line-height: 5;
      font-size: 15px;
      line-height: 1.5;
      font-family: 'Lexend Deca', sans-serif;
    }

    p,
    article {
      flex: 1;
    }

    button {
      background: hsl(0, 0%, 95%);
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: none;
      padding: 0.8rem 1rem;
      width: 150px;
      font-family: 'Lexend Deca', sans-serif;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    }

    button:hover {
      background: transparent;
      border: solid 2px hsl(0, 0%, 95%);
      color: hsl(0, 0%, 95%);
    }

    h2 {
      text-transform: uppercase;
      font-family: 'Big Shoulders Display', cursive;
      font-size: 2rem;
    }

    .attribution {
      font-size: 11px;
      text-align: center;
      margin-top: 1rem;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    .content {
      margin: 3rem 2rem 0 2rem;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.7);
      border-radius: 0.5rem;
    }

    article {
      padding: 2.5rem;
      justify-content: space-between;
      align-items: flex-start;
    }

    img,
    h2,
    p {
      margin-bottom: 1rem;
    }

    @media(min-width:375px) {
      .content {
        width: 300px;
      }
    }

    @media(min-width:950px) {
      body {
        justify-content: center;
      }

      article {
        padding: 3rem;
      }

      h2 {
        margin-top: 1rem;
        flex: 0.3;
      }

      .content {
        margin: 1rem;
        min-width: 921px;
        min-height: 50vh;
        flex-direction: row;
      }

      .sedans {
        background: hsl(31, 77%, 52%);
        border-top-right-radius: 0;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      .luxury {
        background: hsl(179, 100%, 13%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }